{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title> Account Registration</title>
        <link rel="stylesheet"  href="{%  static  'css/styles.css'  %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                    <div class="card-body">
                                        <form method="POST">
                                            {% csrf_token %}
                                            {{ form.non_field_errors }}
                                            <!-- <div class="fieldWrapper">
                                                {{ form.username.errors }}
                                                {{ form.username.label_tag }}
                                                {{ form.username }}
                                            </div>
                                            <div class="fieldWrapper">
                                                {{ form.first_name.errors }}
                                                <label for="{{ form.message.id_for_label }}">First Name:</label>
                                                {{ form.first_name }}
                                            </div>
                                            <div class="fieldWrapper">
                                                {{ form.email.errors }}
                                                <label for="{{ form.sender.id_for_label }}">Your email address:</label>
                                                {{ form.email.label_tag }}
                                                {{ form.email }}
                                            </div> -->


                                            <div class="row">
                                                <div class="col-6">
                                                  {{ form.username|as_crispy_field }}
                                                </div>
                
                                                <div class="col-6">
                                                  {{ form.occupation|as_crispy_field }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6">
                                                  {{ form.first_name|as_crispy_field }}
                                                </div>
                                                <div class="col-6">
                                                  {{ form.last_name|as_crispy_field }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6">
                                                  {{ form.email|as_crispy_field }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6">
                                                  {{ form.password1|as_crispy_field }}
                                                </div>
                                                <div class="col-6">
                                                  {{ form.password2|as_crispy_field }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6">
                                                  {{ form.class_code|as_crispy_field }}
                                                </div>
        
                                            </div>
                                           

                                            <!-- <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <label>Username</label>
                                                        <div >{{form.username}}</div>
                                                        
                                                    </div>
                                                </div>
                                
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="first_name" type="text" placeholder="Enter your first name" value="{{ form.first_name }}"/>
                                                        <label for="first_name">First name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" id="last_name" type="text" placeholder="Enter your last name"value="{{ last_name }}" />
                                                        <label for="last_name">Last name</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="email" type="email" placeholder="name@example.com" value="{{ email }}"/>
                                                <label for="email">School email address</label>
                                            </div>
        
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="password1" type="password" placeholder="Create a password" value="{{ password1 }}"/>
                                                        <label for="password1">Password</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="password2" type="password" placeholder="Confirm password" value="{{ password2 }}"/>
                                                        <label for="password2">Confirm Password</label>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><input class="btn btn-primary btn-block" type="submit" value="Create Account"></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="{% url 'login' %}">Have an account? Go to login</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <!-- <script src="js/scripts.js"></script> -->
    </body>
</html>
