{% extends "users/home.html" %}

{% block course_header %}
<!-- Course Title-->
<div class="col">
    <h1 style="font-size: 1.75rem;" style="align-items:center" class="navbar-brand d-md-inline-block ms-auto"><strong>{{current_course_name}}</strong></h1>
</div>  
<!-- Logout dropdown-->
<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'surveys' current_course %}">Surveys</a></li>
            <li><a class="dropdown-item" href="{% url 'users' current_course %}">People</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block core_content %}
<div class="container-fluid px-4">
    <div class="row" style="margin-top:2%"></div>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card text-white border-secondary mb-4">
                <div class="card-body bg-secondary">Delivery 1</div>
                <div class="card-footer bg-transparent d-flex align-items-center justify-content-between">
                    <span class="small text-black stretched-link">View Results</span>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white border-secondary mb-4">
                <div class="card-body bg-secondary">Delivery 2</div>
                <div class="card-footer bg-transparent d-flex align-items-center justify-content-between">
                    <span class="small text-black stretched-link">View Results</span>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white border-secondary mb-4">
                <div class="card-body bg-secondary">Group Presentation</div>
                <div class="card-footer bg-transparent d-flex align-items-center justify-content-between">
                    <span class="small text-black stretched-link">Due: March 4, 2022</span>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white border-secondary mb-4">
                <div class="card-body bg-secondary">Delivery 3</div>
                <div class="card-footer bg-transparent d-flex align-items-center justify-content-between">
                    <span class="small text-black stretched-link">Due: March 18, 2022</span>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card text-white border-secondary mb-4">
                <div class="card-body bg-secondary">Delivery 4</div>
                <div class="card-footer bg-transparent d-flex align-items-center justify-content-between">
                    <span class="small text-black stretched-link">Due: April 1, 2022</span>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white border-secondary mb-4">
                <div class="card-body bg-secondary">Delivery 5</div>
                <div class="card-footer bg-transparent d-flex align-items-center justify-content-between">
                    <span class="small text-black stretched-link">Due: April 15, 2022</span>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div >
    <div class = "row">
        <a href="{% url  'create_assessment' current_course %}">
            <div class="btn btn-primary">Create Assessment</div>
        </a>
    </div>

</div>
{% endblock %}