{% extends "users/home.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block course_header %}
<!-- Course Title-->
<div class="col">
    <h1 style="font-size: 1.75rem;" style="align-items:center" class="navbar-brand d-md-inline-block ms-auto"><strong>{{current_course}}</strong></h1>
</div>  
<!-- Logout dropdown-->
<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'assessments_list' course_pk %}">Surveys</a></li>
            <li><a class="dropdown-item" href="{% url 'users' course_pk %}">People</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block core_content %}
<div class="container-fluid px-4">
    <div class="row" style="margin-top:2%"></div>
        <div class="ui left aligned basic very padded segment">
            <h2 style="margin-bottom: 30px;" class="ui header">Your Peer Assessments</h2>
                {% if peer_assessments %}
                <div class="row col-md-12">
                    {% for peer_assessment in peer_assessments %}
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-secondary text-white mb-4">
                            <div class="card-body">
                                {% if user.is_authenticated %}
                                <a class="small text-white stretched-link" style="z-index: 10;" href="{% url 'edit_assessment' peer_assessment.pk course_pk%}">{{peer_assessment.title}}</a>
                                
                                {% else %}
                                {% if peer_assessment.is_published %}
                                <a class="small text-white stretched-link" style="z-index: 10;" href="{% url 'assessment_results' peer_assessment.pk course_pk%}">{{peer_assessment.title}}</a>
                                
                                {% elif peer_assessment.is_active %}
                                <a class="small text-white stretched-link" style="z-index: 10;" href="{% url 'start_assessment' peer_assessment.pk course_pk%}">{{peer_assessment.title}}</a>
                                
                                {% else %}
                                {{peer_assessment.title}}
                                {% endif %}

                                {% endif %}
                            </div>
                            <div style="background-color: white;" class="card-footer d-flex align-items-center justify-content-between small text-black">
                                {% if peer_assessment.is_active %}
                                Due: {{peer_assessment.end_date}}
                                {% else %}
                                Not Active
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                                
                                
                {% else %}
                    <h2 class="ui header">
                        <div class="sub header">You don't have any peer assessments yet, try creating one first!</div>
                    </h2>
                {% endif %}

                    <a href="{% url 'create_assessment' course_pk%}">
                        <div class="ui primary button">Create a new survey</div>
                    </a>
                            
        </div>
    </div>
</div>
              
                    {% endblock %}