{% extends "users/home.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block course_header %}
<!-- Course Title-->
<div class="col">
    <h1 style="font-size: 1.75rem;" style="align-items:center" class="navbar-brand d-md-inline-block ms-auto">
        <strong>{{current_course_name}}</strong></h1>
</div>
<!-- Logout dropdown-->
<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'assessments_list' current_course %}">Surveys</a></li>
            <li><a class="dropdown-item" href="{% url 'users' current_course %}">People</a></li>
            <li>
                <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block core_content %}
<div style="margin-left: 250px; margin-top: 75px;" class="container-fluid px-4">
    <div class="ui center aligned basic very padded segment">
        <div class="ui center aligned basic very padded segment">
            <h1 class="ui header dividing">Add options to question</h1>
            <div class="ui container left aligned">
                <h4 class="ui header">
                    Question: {{ question.question }}
                </h4>
                <ul>
                    {% for option in options %}
                    <li>
                        {{ forloop.counter }}) {{option.option_text}}
                    </li>
                    {% endfor %}
                </ul>
                <form class="ui form {% if form.errors %}error{% endif %}" method="post" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                    <div style="margin-bottom: 30px;" class="field {% if field.errors %}error{% endif %}">
                        <label>{{ field.label_tag }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Add new option</button>
                    <div class="ui message error">
                        <!--<div class="header">We had some issues</div>-->
                        <ul class="list">
                            {% for field in form %}
                            {% for error in field.errors %}
                            <li>{{ field.label_tag }} {{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </form>
                {% if options|length > 0 %}
                <div class="ui divider"></div>
                <a href="{% url 'edit_assessment' peer_assessment.pk course_pk%}">
                    <div class="btn btn-secondary">Done adding options</div>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}