{% extends "users/home.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block course_header %}
<div class="col">
    <h1 style="font-size: 1.75rem;" style="align-items:center" class="navbar-brand d-md-inline-block ms-auto">
        <strong>{{current_course}}</strong></h1>
</div>
<!-- Logout dropdown-->
<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'assessments_list' course_pk %}">Surveys</a></li>
            <li><a class="dropdown-item" href="{% url 'users' course_pk %}">People</a></li>
            <li>
                <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block core_content %}
<div class="container-fluid px-4">
    <div class="ui center aligned basic very padded segment">
        <div class="ui center aligned basic very padded segment">
            <h1 class="ui header dividing">Add Free Response</h1>
            <div class="ui container left aligned">
                <form class="ui form {% if form.errors %}error{% endif %}" method="post" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                    <div style="margin-bottom: 30px;" class="field {% if field.errors %}error{% endif %}">
                        <label>{{ field.label_tag }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div style="margin-bottom: 30px;">
                        <button type="submit" class="btn btn-primary">Create Free Response Question</button>
                    </div>
                    <a href="{% url 'edit_assessment' peer_assessment.pk course_pk%}">
                        <div class="btn btn-secondary">Cancel</div>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}