{% extends "users/home.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block course_header %}
<!-- Course Title-->
<div class="col">
    <h1 style="font-size: 1.75rem;" style="align-items:center" class="navbar-brand d-md-inline-block ms-auto"><strong>{{current_course}}</strong></h1>
</div>  
<!-- Logout dropdown-->
<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'assessments_list' course_pk %}">Surveys</a></li>
            <li><a class="dropdown-item" href="{% url 'users' course_pk %}">People</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block core_content %}
    <div class="container-fluid px-4">

    <h1 class="ui header">Editing Peer Assessment: {{peer_assessment.title}}</h1>
    <div class="ui container left aligned">
        {% for question in questions %}
        <div class="ui basic padded segment">
            <h4 class="ui header">
                MC Question {{ forloop.counter }} / {{ questions|length }}: {{ question.question }}
            </h4>
            <ul style="list-style-type: none;">
                {% for option in question.option_set.all %}
                <li>
                    {{ forloop.counter }}) {{option.option_text}}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}

        {% for free in frees %}
        <div class="ui basic padded segment">
            <h4 class="ui header">
                Free Response {{ forloop.counter }} / {{ frees|length }}: {{ free.response }}
            </h4>
        </div>
        {% endfor %}

        <a class="btn btn-primary" href="{% url 'create_question' peer_assessment.pk course_pk%}">
            Add a question
        </a>
        <a class="btn btn-primary" href="{% url 'create_free_response' peer_assessment.pk course_pk%}">
            Add a free response
        </a>
        <div style="margin-bottom: 20px;" class="ui divider"></div>
        <form style="display: inline-block;" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Activate Peer Assessment</button>
        </form>
        <div style="margin-bottom: 20px;" class="ui divider"></div>
        <a class="btn btn-secondary" href="{% url 'assessments_list' course_pk %}">
           Back
        </a>
    </div>

                        
        </div>



{% endblock %}
