{% extends "users/home.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block course_header %}
<!-- Course Title-->
<div class="col">
    <h1 style="font-size: 1.75rem;" style="align-items:center" class="navbar-brand d-md-inline-block ms-auto">
        <strong>{{current_course_name}}</strong></h1>
</div>
<!-- Logout dropdown-->
<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'assessments_list' current_course %}">Surveys</a></li>
            <li><a class="dropdown-item" href="{% url 'users' current_course %}">People</a></li>
            <li>
                <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block core_content %}
<div style="margin-left: 300px; margin-top: 50px;" class="ui center aligned basic very padded segment">
    <h1 class="ui header dividing">Peer Assessment: {{ peer_assessment.title }}</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ formset.management_form }}
        {% for question, form in question_forms %}
        <div style="margin-top: 10px;" class="ui basic padded segment left aligned">
            <div class="ui form {% if form.errors %}error{% endif %}">
                <h4 class="ui header">
                    Question {{ forloop.counter }}: {{ question.prompt }}
                </h4>
                {% for field in form %}
                <div class="field {% if field.errors %}error{% endif %}">
                    {{ field }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        {{ freeformset.management_form }}
        {% for freeresponse, form in free_forms %}
        <div style="margin-top: 10px;" class="ui basic padded segment left aligned">
            <div class="ui form {% if form.errors %}error{% endif %}">
                <h4 class="ui header">
                    Question {{ forloop.counter }}: {{ freeresponse.response }}
                </h4>
                {{ freeformset.as_p}}
            </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
{% endblock %}